<div class="container">
    <div class="row">
        <div class="col-3">
            <form #f="ngForm">

                <mat-form-field>
                    <mat-label>Fecha Desde</mat-label>
                    <input matInput type="date" placeholder="Fecha desde" name="fechaDesde" [formControl]="fechaDesde"
                         />
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="date" placeholder="Fecha hasta" name="fechaHasta" [formControl]="fechaHasta"/>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" placeholder="Longitud Secuencia" name="longitudSecuencia"
                        [formControl]="longitudSecuencia"  />
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" placeholder="Número de jugadas" name="numeroJugadas"
                        [formControl]="numeroJugadas"  />
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" placeholder="Frecuencia minima" name="frecuenciaMinima"
                        [formControl]="frecuenciaMinima"  />
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="tipoJugada" name="tipoJugada" [(ngModel)]="tipoJugadaSeleccionada"  required>
                        <mat-option *ngFor="let tipo of tipoJugadas" [value]="tipo">{{tipo}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-raised-button color="accent" type="submit" (click)="generarJugadas()">
                    <mat-icon>check</mat-icon>Generar
                </button>

            </form>
        </div>
        <div class="col" *ngIf="jugadas.length>0">
            <mat-list>
                <mat-list-item *ngFor="let jugada of jugadas" > 
                    
                    <div mat-line>{{jugada.valor1}} - {{jugada.valor2}} - {{jugada.valor3}} - {{jugada.valor4}} - {{jugada.valor5}}  <mat-icon mat-list-icon>star</mat-icon> {{jugada.estrella1}} - {{jugada.estrella2}} </div>

                    
                    </mat-list-item>
               </mat-list>
        </div>
        <div class="col" *ngIf="jugadas.length<=0">
            <h1>No se han obtenido jugadas</h1>
        </div>
    </div>
    
</div>